//** Base Font Size **/
@base-font-size-px: 15;
@pxtorem-js-function: ~`pxtorem = function(px){ if (typeof rmxsBaseFontSize == 'undefined') rmxsBaseFontSize = @{base-font-size-px}; return (parseInt(px.replace(/(^\d+)(.+$)/i,'$1')) / rmxsBaseFontSize + 'rem') }`;

.font-size(@value) {
  font-size: @value;
}
.font-size(@value) when (ispixel(@value)) {
  @rem-value: ~`pxtorem('@{value}')`;
  font-size: @rem-value;
}
