@icon-font-path: '../fonts/';
// bower:less
@import 'bower_components/bootstrap/less/bootstrap.less';
// endbower

/** Font Variables **/

@import 'font-size.less';
@sans: 'SimpleSans',
Arial,
sans-serif;
@sansLight: 'SimpleSansLight',
Arial,
sans-serif;
@sansMedium: 'SimpleSansMedium',
Arial,
sans-serif;
@sansBold: 'SimpleSansBold',
Arial,
sans-serif;
@sansBlack: 'SimpleSansBlack',
Arial,
sans-serif;

/** Color Variables **/

@primary: #222222;
@gray-80: lighten( @primary-gray, 20%);
@gray-60: lighten( @primary-gray, 40%);
@gray-40: lighten( @primary-gray, 60%);
@secondary: #1977D3;

// font size and family mixin examples
/*element {
  font-family: @sansBlack;
  .font-size(15px);
}*/


html {
  font-size: 15px;
}
body {
  background-color: #FFF;
  font-family: "SimpleSansLight", Arial, sans-serif;
}
.padding-0 {
  padding: 0 !important;
  margin: 0 !important;
}
.padding25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none;
}
.show {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/************* IMPORTS *************/

@import '_ie8.less';
@import '_1364_media.less';
@import '_1024-1363_media.less';
@import '_768-1023_media.less';
@import '_320-767_media.less';
