@font-face {
  font-family: 'SimpleSans';
  src: url('simplesans-regular-webfont.eot');
  src: url('simplesans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-regular-webfont.woff') format('woff'), url('simplesans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SimpleSansOblique';
  src: url('simplesans-regularoblique-webfont.eot');
  src: url('simplesans-regularoblique-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-regularoblique-webfont.woff') format('woff'), url('simplesans-regularoblique-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'SimpleSansBold';
  src: url('simplesans-bold-webfont.eot');
  src: url('simplesans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-bold-webfont.woff') format('woff'), url('simplesans-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SimpleSansBoldOblique';
  src: url('simplesans-boldoblique-webfont.eot');
  src: url('simplesans-boldoblique-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-boldoblique-webfont.woff') format('woff'), url('simplesans-boldoblique-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'SimpleSansMedium';
  src: url('simplesans-medium-webfont.eot');
  src: url('simplesans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-medium-webfont.woff') format('woff'), url('simplesans-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SimpleSansMediumOblique';
  src: url('simplesans-mediumoblique-webfont.eot');
  src: url('simplesans-mediumoblique-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-mediumoblique-webfont.woff') format('woff'), url('simplesans-mediumoblique-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'SimpleSansLight';
  src: url('simplesans-light-webfont.eot');
  src: url('simplesans-light-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-light-webfont.woff') format('woff'), url('simplesans-light-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SimpleSansLightOblique';
  src: url('simplesans-lightoblique-webfont.eot');
  src: url('simplesans-lightoblique-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-lightoblique-webfont.woff') format('woff'), url('simplesans-lightoblique-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'SimpleSansBlack';
  src: url('simplesans-black-webfont.eot');
  src: url('simplesans-black-webfont.eot?#iefix') format('embedded-opentype'), url('simplesans-black-webfont.woff') format('woff'), url('simplesans-black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'FD-Icons';
  src: url('FD-Icons.eot?86k059');
  src: url('FD-Icons.eot?86k059#iefix') format('embedded-opentype'), url('FD-Icons.ttf?86k059') format('truetype'), url('FD-Icons.woff?86k059') format('woff'), url('FD-Icons.svg?86k059#FD-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="fd-"],
[class*=" fd-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FD-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fd-about:before {
  content: "\e600";
}
.fd-action-plan:before {
  content: "\e601";
}
.fd-activate:before {
  content: "\e602";
}
.fd-all:before {
  content: "\e603";
}
.fd-all-topics:before {
  content: "\e604";
}
.fd-analytics:before {
  content: "\e605";
}
.fd-announcements:before {
  content: "\e606";
}
.fd-app-site:before {
  content: "\e607";
}
.fd-approval-validation:before {
  content: "\e608";
}
.fd-arrow-down:before {
  content: "\e609";
}
.fd-arrow-left:before {
  content: "\e60a";
}
.fd-arrow-right:before {
  content: "\e60b";
}
.fd-arrow-up:before {
  content: "\e60c";
}
.fd-atm:before {
  content: "\e60d";
}
.fd-authentication:before {
  content: "\e60e";
}
.fd-authorization-blocking:before {
  content: "\e60f";
}
.fd-awards:before {
  content: "\e610";
}
.fd-awards-2:before {
  content: "\e611";
}
.fd-blog:before {
  content: "\e612";
}
.fd-brick-mortor:before {
  content: "\e613";
}
.fd-business-note:before {
  content: "\e614";
}
.fd-calendar:before {
  content: "\e615";
}
.fd-card-management:before {
  content: "\e616";
}
.fd-careers:before {
  content: "\e617";
}
.fd-cart:before {
  content: "\e618";
}
.fd-cart2:before {
  content: "\e619";
}
.fd-chat:before {
  content: "\e61a";
}
.fd-check:before {
  content: "\e61b";
}
.fd-check-in-mobile:before {
  content: "\e61c";
}
.fd-check-out-mobile:before {
  content: "\e61d";
}
.fd-check-out-queue:before {
  content: "\e61e";
}
.fd-checkmark:before {
  content: "\e61f";
}
.fd-checkmark-2:before {
  content: "\e800";
}
.fd-circle-checkmark:before {
  content: "\e65d";
}
.fd-client:before {
  content: "\e620";
}
.fd-client-computer:before {
  content: "\e621";
}
.fd-client-participant:before {
  content: "\e622";
}
.fd-clients:before {
  content: "\e623";
}
.fd-clock:before {
  content: "\e624";
}
.fd-clover:before {
  content: "\e625";
}
.fd-commerce-mobile:before {
  content: "\e626";
}
.fd-competition:before {
  content: "\e627";
}
.fd-compose-order:before {
  content: "\e628";
}
.fd-comprehensive:before {
  content: "\e629";
}
.fd-connect:before {
  content: "\e62a";
}
.fd-contact:before {
  content: "\e62b";
}
.fd-content-management:before {
  content: "\e62c";
}
.fd-content-manager:before {
  content: "\e62d";
}
.fd-create-account:before {
  content: "\e62e";
}
.fd-credit-card:before {
  content: "\e62f";
}
.fd-currency:before {
  content: "\e630";
}
.fd-customer-center:before {
  content: "\e631";
}
.fd-deactivate:before {
  content: "\e632";
}
.fd-delivered-goods:before {
  content: "\e633";
}
.fd-delivered-goods1:before {
  content: "\e634";
}
.fd-delivered-goods2:before {
  content: "\e635";
}
.fd-devices:before {
  content: "\e636";
}
.fd-different-topics:before {
  content: "\e637";
}
.fd-document:before {
  content: "\e638";
}
.fd-document-distro:before {
  content: "\e639";
}
.fd-documents:before {
  content: "\e63a";
}
.fd-dot:before {
  content: "\e63b";
}
.fd-download:before {
  content: "\e63c";
}
.fd-easy:before {
  content: "\e63d";
}
.fd-easy2:before {
  content: "\e63e";
}
.fd-education:before {
  content: "\e63f";
}
.fd-email:before {
  content: "\e640";
}
.fd-executive-view:before {
  content: "\e641";
}
.fd-expertise:before {
  content: "\e642";
}
.fd-extranets:before {
  content: "\e643";
}
.fd-faq:before {
  content: "\e644";
}
.fd-fast:before {
  content: "\e645";
}
.fd-fi:before {
  content: "\e646";
}
.fd-financial-bank:before {
  content: "\e647";
}
.fd-food-truck:before {
  content: "\e648";
}
.fd-gate-portal:before {
  content: "\e649";
}
.fd-gift-card:before {
  content: "\e64a";
}
.fd-globe:before {
  content: "\e64b";
}
.fd-government:before {
  content: "\e64c";
}
.fd-government2:before {
  content: "\e64d";
}
.fd-graduates:before {
  content: "\e64e";
}
.fd-group-action:before {
  content: "\e64f";
}
.fd-growth-analytics:before {
  content: "\e650";
}
.fd-growth-assistance:before {
  content: "\e651";
}
.fd-healthcare:before {
  content: "\e652";
}
.fd-healthcare2:before {
  content: "\e653";
}
.fd-history:before {
  content: "\e654";
}
.fd-icon:before {
  content: "\e655";
}
.fd-image-library:before {
  content: "\e656";
}
.fd-industries:before {
  content: "\e657";
}
.fd-information:before {
  content: "\e658";
}
.fd-innovative-spotlight:before {
  content: "\e659";
}
.fd-inventory:before {
  content: "\e65a";
}
.fd-key-points:before {
  content: "\e65b";
}
.fd-leadership:before {
  content: "\e65c";
}
.fd-lightbulb:before {
  content: "\e69b";
}
.fd-location:before {
  content: "\e65e";
}
.fd-meal-plan1:before {
  content: "\e65f";
}
.fd-meal-plan2:before {
  content: "\e660";
}
.fd-metrics:before {
  content: "\e661";
}
.fd-mobile:before {
  content: "\e662";
}
.fd-mobile-analytics:before {
  content: "\e663";
}
.fd-mobile-error:before {
  content: "\e664";
}
.fd-mobile-gift-card:before {
  content: "\e900";
}
.fd-mobile-qeued-done:before {
  content: "\e665";
}
.fd-mobile2:before {
  content: "\e666";
}
.fd-news:before {
  content: "\e667";
}
.fd-offer:before {
  content: "\e668";
}
.fd-online-payment:before {
  content: "\e669";
}
.fd-online-payment-2:before {
  content: "\e66a";
}
.fd-other-topics:before {
  content: "\e66b";
}
.fd-partnership:before {
  content: "\e66c";
}
.fd-pay-mobile-euro:before {
  content: "\e66d";
}
.fd-pay-mobile-uk:before {
  content: "\e66e";
}
.fd-pay-mobile-us:before {
  content: "\e66f";
}
.fd-pci-dss:before {
  content: "\e670";
}
.fd-perka-mobile:before {
  content: "\e671";
}
.fd-popout:before {
  content: "\e672";
}
.fd-pre-validation:before {
  content: "\e673";
}
.fd-present:before {
  content: "\e674";
}
.fd-price-tag:before {
  content: "\e675";
}
.fd-professional-services:before {
  content: "\e676";
}
.fd-queue:before {
  content: "\e677";
}
.fd-quote-mark:before {
  content: "\e678";
}
.fd-reactivate:before {
  content: "\e679";
}
.fd-refresh:before {
  content: "\e67a";
}
.fd-reports:before {
  content: "\e67b";
}
.fd-revenue-warehouse:before {
  content: "\e67c";
}
.fd-salon:before {
  content: "\e67d";
}
.fd-secure:before {
  content: "\e67e";
}
.fd-security-gateway:before {
  content: "\e67f";
}
.fd-server-data:before {
  content: "\e680";
}
.fd-settings:before {
  content: "\e681";
}
.fd-setup:before {
  content: "\e682";
}
.fd-similar-topics:before {
  content: "\e683";
}
.fd-solution:before {
  content: "\e684";
}
.fd-spotlight:before {
  content: "\e685";
}
.fd-stopwatch:before {
  content: "\e686";
}
.fd-submit-for-approval:before {
  content: "\e687";
}
.fd-success-stories:before {
  content: "\e688";
}
.fd-technology:before {
  content: "\e689";
}
.fd-terminal:before {
  content: "\e68a";
}
.fd-test-execution:before {
  content: "\e68b";
}
.fd-ticket:before {
  content: "\e68c";
}
.fd-token:before {
  content: "\e68d";
}
.fd-token-vault:before {
  content: "\e68e";
}
.fd-tracker-online:before {
  content: "\e68f";
}
.fd-transaction-research:before {
  content: "\e690";
}
.fd-transportation:before {
  content: "\e691";
}
.fd-trash:before {
  content: "\e692";
}
.fd-video-play:before {
  content: "\e693";
}
.fd-video2:before {
  content: "\e694";
}
.fd-view-details:before {
  content: "\e695";
}
.fd-visit-complete:before {
  content: "\e696";
}
.fd-waiver:before {
  content: "\e697";
}
.fd-warning:before {
  content: "\e698";
}
.fd-wireless:before {
  content: "\e699";
}
.fd-wireless2:before {
  content: "\e69a";
}
